.body {
  margin: 0;
  padding: 0;
}
.back button {
  border: none;
  border-radius: 50%;
}
#home {
  background-color: rgb(75, 226, 226);
  background-size: cover;
  height: 100vh;
}
.con-box {
  width: 70%;
  height: 80%;
  background-color: rgb(216, 236, 216);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pic-box img {
  width: 450px;
  height: 300px;
  border-radius: 10px;
  position: relative;
  top: 15px;
  left: 25%;
}
.title {
  margin-top: 15px;
}
.text {
  margin-left: 5px;
  text-align: center;
}
.text p {
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
}
